script(src='/module.min.js')
script(src='/uploader.min.js')
script(src='/hotkeys.min.js')
script(src='/simditor.min.js')
script(src='/beautify-html.js')
script(src='/simditor-html.js')
link(rel='stylesheet',href='/simditor.css')
link(rel='stylesheet',href='/simditor-html.css')

mixin createEditor(selector)
    script.
        $('#{selector}').each(function(){
            var editor = new Simditor({
                textarea: $(this),
                toolbar: [
                    'title', 'bold', 'italic', 'underline',
                    'strikethrough', 'color', 'ol', 'ul',
                    'blockquote', 'code', 'table', 'link',
                    'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
                ],
                upload: {
                    url: '#{uploadAPI}?token=#{token}',
                    fileKey: 'uploadFile'
                },
                allowedTags: [
                    'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                    'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
                ],
                allowedAttributes: {
                    img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                    a: ['href', 'target'],
                    font: ['color'],
                    code: ['class'],
                    embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                    iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
                }
            });
        });
mixin createEditorByIds(ids)
    script.
        var ids = '#{ids}'.split(',');
        for(var i = 0; i<ids.length;i++) {
            var editor = new Simditor({
                textarea: $('#'+ids[i]),
                toolbar: [
                    'title', 'bold', 'italic', 'underline',
                    'strikethrough', 'color', 'ol', 'ul',
                    'blockquote', 'code', 'table', 'link',
                    'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
                ],
                upload: {
                    url: '#{uploadAPI}?token=#{token}',
                    fileKey: 'uploadFile'
                },
                allowedTags: [
                    'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                    'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
                ],
                allowedAttributes: {
                    img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                    a: ['href', 'target'],
                    font: ['color'],
                    code: ['class'],
                    embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                    iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
                }
            });
            
        }
