extends _layout

block content
    h2 联动用户
    form(class="form-inline",)
        .form-group
            input(name="q",class="form-control",value='#{q}',style='margin-right:3px')
            button(type="submit",class="btn btn-primary")
                搜索
    br
    table.table.table-bordered.table-hover
        tr
            th 联动用户id
            th 用户姓名
            th 手机
            th 银行卡号
            th 银行类型
            th 身份证号
            th 账户余额
            th 状态
        each merUser in list
            tr 
                td #{merUser.merUserId}
                td #{merUser.merCustName}
                td #{merUser.mobile}
                td #{merUser.bindingCard?merUser.bindingCard.cardId:null}
                td #{merUser.bindingCard?merUser.bindingCard.type:null}
                td #{merUser.certNo}
                td #{merUser.balance/100}
                td 
                    if merUser.status === 0
                        span 注册中
                    else if merUser.status === 1
                        span 未绑定银行卡
                    else if merUser.status === 2
                        span 已绑定
        tr
            td(colspan='8',style='text-alin:right')
                if hasPre
                    if q
                        a(href='?current=#{parseInt(current)-1}&q=#{q}') pre
                    else
                        a(href='?current=#{parseInt(current)-1}') pre
                if hasNext
                    if q
                        a(href='?current=#{parseInt(current)+1}&q=#{q}') next
                    else
                        a(href='?current=#{parseInt(current)+1}') next
                span 共有#{count}页