extends _layout

block content
    script(src='/module.min.js')
    script(src='/uploader.min.js')
    script(src='/hotkeys.min.js')
    script(src='/simditor.min.js')
    script(src='/beautify-html.js')
    script(src='/simditor-html.js')
    link(rel='stylesheet',href='/simditor.css')
    link(rel='stylesheet',href='/simditor-html.css')
    .container-fluid
        .row
            .col-md-12
                .panel.panel-default
                    .panel-heading
                        h2 添加新项目
                    .panel-body
                        form(method='POST')
                            .form-group
                                label(for='title') 项目标题：
                                input#title(name='title').form-control
                            .form-group
                                label 项目类型：
                                input(
                                    id='category1'
                                    name='category'
                                    type='checkbox'
                                    value='1'
                                )
                                label(for='category1') 众筹
                                input(
                                    id='category2'
                                    name='category'
                                    type='checkbox'
                                    value='2'
                                )
                                label(for='category2') 众智
                            .form-group
                                label(for='icon') 项目图标：
                                input#icon(name='icon', size=50).form-control
                            .form-group
                                label(for='cover') 封面图片：
                                input#cover(name='cover', size=50).form-control
                             .form-group
                                label(for='pageCover') 首页图片：
                                input#pageCover(name='pageCover', size=50).form-control
                            .form-group
                                label(for='area') 地区：
                                input#area(name='area').form-control
                            .form-group
                                label(for='alias') 别名：
                                input#alias(name='alias').form-control
                            .form-group
                                label(for='projectProperty') 地区：
                                input#projectProperty(name='projectProperty')
                            .form-group
                                label(for='turn') 融资轮次：
                                select#turn(name='turn').form-control
                                    each value, index in turns
                                        option(value=index)= value + ' 轮'
                            .form-group
                                label(for='totalValue') 估值：
                                input#totalValue(name='totalValue').form-control
                            .form-group
                                label(for='percent') 出让比例：
                                input#percent(name='percent')
                                span.cover %
                            .form-group
                                label(for='targetValue') 融资金额：
                                input#targetValue(name='targetValue').form-control
                            .form-group
                                label(for='minTarget') 最小额度：
                                input#minTarget(type='number',name='minTarget').form-control
                            .form-group
                                label(for='maxTarget') 最大额度：
                                input#maxTarget(type='number',name='maxTarget').form-control
                            .form-group
                                label(for='openDate') 认购时间：
                                input#openDate(name='openDate',type='date').form-control
                            .form-group
                                label(for='closeDate') 结束时间：
                                input#closeDate(name='closeDate',type='date').form-control
                            .form-group
                                label(for='closePayDate') 结束付款时间：
                                input#closePayDate(name='closePayDate',type='date').form-control
                            .form-group
                                label 资源需求：
                                each skill, key in skills
                                    input(id='skill#{key}',name='skills',type='checkbox',value='#{key}')
                                    label(for='skill#{key}')= skill
                            .form-group
                                label(for='owner') 项目所属人：
                            .form-group
                                input#owner(name='owner',size=30).form-control
                            .form-group
                                label(for='keyWord') 关键词：
                            .form-group
                                input#keyWord(name='keyWord',size=30).form-control
                            .form-group
                                label(for='intro') 一句话介绍：
                            .form-group
                                textarea#intro(name='intro',cols=50,rows=10)
                            .form-group
                                label(for='mobileIntro') 手机版一句话介绍：
                            .form-group
                                textarea#mobileIntro(name='mobileIntro',cols=50,rows=10)
                            .form-group
                                label(for='shortIntro') 半句话介绍：
                            .form-group
                                textarea#shortIntro(name='shortIntro',cols=50,rows=10)
                            .form-group
                                label(for='content') 项目介绍：
                            .form-group
                                textarea#content(name='content',cols=50,rows=10)
                            .form-group
                                label(for='payPoint') 支付描述：
                            .form-group
                                textarea#payPoint(name='payPoint',cols=50,rows=10)
                            .form-group
                                label(for='isShow') 是否显示在首页:
                                select(name='isShow')
                                    option(value="true") 显示
                                    option(value="false" selected="true") 不显示
                            .form-group
                                label(for='isPause') 是否暂停:
                                select(name='isPause')
                                    option(value="true") 暂停
                                    option(value="false" selected="true") 不暂停
                            input(type='submit',value='SUBMIT')
                            a(href='/project') CANCEL

        script.
            var editor = new Simditor({
                textarea: $('#content'),
                toolbar: [
                    'title', 'bold', 'italic', 'underline',
                    'strikethrough', 'color', 'ol', 'ul',
                    'blockquote', 'code', 'table', 'link',
                    'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
                ],
                upload: {
                    url: '#{uploadAPI}?token=#{token}',
                    fileKey: 'uploadFile'
                },
                allowedTags: [
                    'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                    'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
                ],
                allowedAttributes: {
                    img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                    a: ['href', 'target'],
                    font: ['color'],
                    code: ['class'],
                    embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                    iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
                }
            });
