extends _layout

block content
    script(src='/module.min.js')
    script(src='/uploader.min.js')
    script(src='/hotkeys.min.js')
    script(src='/simditor.min.js')
    script(src='/beautify-html.js')
    script(src='/simditor-html.js')
    link(rel='stylesheet',href='/simditor.css')
    link(rel='stylesheet',href='/simditor-html.css')

    h2 修改项目活动信息
    p
        a(href='info') 基础信息
        a(href='product') 产品信息
        a(href='point') 投资亮点
        a(href='team') 团队信息
        a(href='activity') 活动信息
    each activity, index in activities
        form(id='a_#{activity.project}',action='/project/#{projectId}/activity/#{activity._id}',method='POST')
            p
                label(for='name=_#{activity._id}') 标题：
                input(id='name=_#{activity._id}',size=50,name='title',value='#{activity.title}')
            p
                label(for='address_#{activity._id}') 地址：
                input(id='address_#{activity._id}',size=50,name='address',value='#{activity.address}')
            p
                label(for='maxNums_#{activity._id}') 人数：
                input(id='maxNums_#{activity._id}',size=5,type='number',name='maxNums',value='#{activity.maxNums}')
            p
                label(for='state') 活动状态：
                each value, index in state
                    input(id='state_#{index}',type='radio',name='state',value=index,checked=index == activity.state && "checked")
                    label(for='state_#{index}')= value
            p
                label(for='content_#{activity._id}') 介绍：
                textarea(id='content_#{activity._id}',cols=50,rows=5,name='content')
                    | #{activity.content}
            p
                label(for='review_#{activity._id}') 回顾：
            p
                textarea(id='review_#{activity._id}',cols=50,rows=5,name='review')
                    | #{activity.review}
            p
                input(type='hidden',name='project',value='#{projectId}')
                input(type='submit',value='SAVE')
                a(href='/project/#{projectId}/activity/#{activity._id}/delete',onclick='return confirm("确定要删除活动吗?")') DELETE
                a(href='/project/#{projectId}/activity/#{activity._id}') USERS
            hr
    form(id='p_new',action='/project/#{projectId}/activity',method='POST')
        p
            label(for='name=_new') 标题：
            input(id='name=_new',size=50,name='title')
        p
            label(for='address_new') 地址：
            input(id='address_new',size=50,name='address')
        p
            label(for='maxNums_new') 人数：
            input(id='maxNums_new',size=5,type='number',name='maxNums')
        p
            label(for='state') 活动状态：
            each value, index in state
                input(id='state_#{index}',type='radio',name='state',value=index,checked=index == 1 && "checked")
                label(for='state_#{index}')= value
        p
            label(for='content_new') 介绍：
            textarea(id='content_new',cols=50,rows=5,name='content')
        p
            label(for='review_new') 回顾：
        p
            textarea(id='review_new',cols=50,rows=5,name='review')
        p
            input(type='hidden',name='project',value='#{projectId}')
            input(type='submit',value='ADD NEW')

        script.
            $("[name^=review]").each(function(){
                var editor = new Simditor({
                    textarea: $(this),
                        toolbar: [
                            'title', 'bold', 'italic', 'underline',
                           'strikethrough', 'color', 'ol', 'ul',
                           'blockquote', 'code', 'table', 'link',
                           'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
                       ],
                       upload: {
                           url: '#{uploadAPI}?token=#{token}',
                           fileKey: 'uploadFile'
                       },
                       allowedTags: [
                           'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                           'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
                       ],
                       allowedAttributes: {
                           img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                           a: ['href', 'target'],
                           font: ['color'],
                           code: ['class'],
                           embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                           iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
                               }
                   });
               });
