extends _layout

block content
    script(src='/module.min.js')
    script(src='/uploader.min.js')
    script(src='/hotkeys.min.js')
    script(src='/simditor.min.js')
    link(rel='stylesheet',href='/simditor.css')

    h2
        | 修改项目
    p
        a(href='info') 基础信息
        a(href='team') 团队信息
    form(method='POST')
        p
            label(for='title') 项目标题：
            input#title(name='title',value='#{project.title}')
        p
            label(for='cover') 封面图片：
            input#cover(name='cover',value='#{project.cover}')
        p
            label(for='area') 地区：
            input#area(name='area',value='#{project.area}')
        p
            label(for='turn') 融资轮次：
            select#turn(name='turn')
                each value, index in turns
                    option(value=index,selected=index == project.turn && "selected")= value + ' 轮'
        p
            label(for='totalValue') 估值：
            input#totalValue(type='number',name='totalValue',value='#{project.totalValue}')
        p
            label(for='percent') 出让比例：
            input#percent(type='number',name='percent',value='#{project.percent}')
            span.cover %
        p
            label(for='targetValue') 融资金额：
            input#targetValue(type='number',name='targetValue',value='#{project.targetValue}')
        p
            label(for='minTarget') 最小额度：
            input#minTarget(type='number',name='minTarget',value='#{project.minTarget}')
        p
            label(for='openDate') 开始时间：
            input#openDate(type='date',name='openDate',value='#{format(project.openDate, "YYYY-MM-DD")}')
        p
            label(for='closeDate') 结束时间：
            input#closeDate(type='date',name='closeDate',value='#{format(project.closeDate, "YYYY-MM-DD")}')
        p
            | 资源需求：
            each skill, key in skills
                input(
                    id='skill#{key}'
                    name='skills'
                    type='checkbox'
                    value='#{key}'
                    checked=project.skills.indexOf(key) !== -1 && 'checked'
                )
                label(for='skill#{key}')= skill
        p
            label(for='content') 项目介绍：
        p
            textarea#content(name='content',cols=50,rows=10)= project.content
        p
            input(type='submit',value='SUBMIT')
            a(href='/project') CANCEL

    script.
        var editor = new Simditor({
            textarea: $('#content'),
            toolbar: [
                'title', 'bold', 'italic', 'underline',
                'strikethrough', 'color', 'ol', 'ul',
                'blockquote', 'code', 'table', 'link',
                'image', 'hr', 'indent', 'outdent', 'alignment'
            ],
            upload: {
                url: '#{uploadAPI}',
                fileKey: 'uploadFile'
            }
        });
