extends _layout

block content
    script(src='/module.min.js')
    script(src='/uploader.min.js')
    script(src='/hotkeys.min.js')
    script(src='/simditor.min.js')
    script(src='/beautify-html.js')
    script(src='/simditor-html.js')
    link(rel='stylesheet',href='/simditor.css')
    link(rel='stylesheet',href='/simditor-html.css')

    h2 修改项目基础信息
    p
        a(href='info') 基础信息
        a(href='product') 产品信息
        a(href='point') 投资亮点
        a(href='team') 团队信息
        a(href='activity') 活动信息
    form(method='POST')
        p
            label(for='title') 项目标题：
            input#title(name='title',value='#{project.title}')
        p
            label(for='icon') 项目图标：
            input#icon(name='icon',size=50,value='#{project.icon}')
        p
            label(for='pageCover') 首页图片：
            input#cover(name='pageCover',size=50,value='#{project.pageCover}')
        p
            label(for='cover') 封面图片：
            input#cover(name='cover',size=50,value='#{project.cover}')
        p
            label(for='area') 地区：
            input#area(name='area',value='#{project.area}')
        p
            label(for='alias') 别名：
            input#alias(name='alias',value='#{project.alias}')
            a(href='http://#{domain}/project/#{project.alias}', target='_blank') 预览
        p
            label(for='turn') 融资轮次：
            select#turn(name='turn')
                each value, index in turns
                    option(value=index,selected=index == project.turn && "selected")= value + ' 轮'
        p
            label(for='totalValue') 估值：
            input#totalValue(type='number',name='totalValue',value='#{project.totalValue}')
        p
            label(for='percent') 出让比例：
            input#percent(type='number',name='percent',value='#{project.percent}')
            span.cover %
        p
            label(for='targetValue') 融资金额：
            input#targetValue(type='number',name='targetValue',value='#{project.targetValue}')
        p
            label(for='minTarget') 最小额度：
            input#minTarget(type='number',name='minTarget',value='#{project.minTarget}')
        p
            label(for='maxTarget') 最大额度：
            input#maxTarget(type='number',name='maxTarget',value='#{project.maxTarget}')
        p
            label(for='readyDate') 预认购时间：
            input#readyDate(type='date',name='readyDate',value='#{format(project.readyDate, "YYYY-MM-DD")}')
        p
            label(for='openDate') 认购时间：
            input#openDate(type='date',name='openDate',value='#{format(project.openDate, "YYYY-MM-DD")}')
        p
            label(for='closeDate') 结束时间：
            input#closeDate(type='date',name='closeDate',value='#{format(project.closeDate, "YYYY-MM-DD")}')
        p
            label(for='closePayDate') 结束认购时间：
            input#closePayDate(type='date',name='closePayDate',value='#{format(project.closePayDate, "YYYY-MM-DD")}')
        p
            label 资源需求：
            each skill, key in skills
                input(
                    id='skill#{key}'
                    name='skills'
                    type='checkbox'
                    value='#{key}'
                    checked=project.skills.indexOf(key) !== -1 && 'checked'
                )
                label(for='skill#{key}')= skill
        p
            label(for='owner') 项目所属人：
            input#owner(name='owner',size=30,value='#{project.owner || ""}')
        p
            label(for='intro') 一句话介绍：
        p
            textarea#intro(name='intro',cols=50,rows=10)= project.intro
        p
            label(for='mobileIntro') 手机版一句话介绍：
        p
            textarea#intro(name='mobileIntro',cols=50,rows=10)= project.mobileIntro
        p
            label(for='shortIntro') 半句话介绍：
        p
            textarea#intro(name='shortIntro',cols=50,rows=10)= project.shortIntro

        p
            label(for='payPoint') 支付描述：
        p
            textarea#payPoint(name='payPoint',cols=50,rows=10)= project.payPoint
        p
            label(for='content') 项目介绍：
        p
            textarea#content(name='content',cols=50,rows=10)= project.content
        p
            label(for='isShow') 是否显示在首页:
            select(name='isShow',value='#{project.isShow}')
                option(value="true",selected=project.isShow) 显示
                option(value="false",selected=project.isShow == false) 不显示
         p
            label(for='isPause') 是否暂停:
            select(name='isPause',value='#{project.isPause}')
                option(value="true",selected=project.isPause) 暂停
                option(value="false",selected=project.isPause == false) 不暂停
        p
            input(type='submit',value='SUBMIT')
            a(href='/project' ) CANCEL

    script.
        var editor = new Simditor({
            textarea: $('#content'),
            toolbar: [
                'title', 'bold', 'italic', 'underline',
                'strikethrough', 'color', 'ol', 'ul',
                'blockquote', 'code', 'table', 'link',
                'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
            ],
            upload: {
                url: '#{uploadAPI}?token=#{token}',
                fileKey: 'uploadFile'
            },
            allowedTags: [
                'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
            ],
            allowedAttributes: {
                img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                a: ['href', 'target'],
                font: ['color'],
                code: ['class'],
                embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
            }
        });
