extends _layout

block content
    h2 项目订单信息
    p
        a(href='/project/#{projectId}/info') 项目信息
        a(href='/project') 返回
    table(width='100%')
        tr
            th No.
            th 订单号
            th 用户
            th 姓名
            th 认购金额
            th 订单状态
            th 下单时间
        each order, index in orders
            tr
                td.num= index + 1
                td= order._id
                td= order.user.username
                td= order.user.realname
                td.num= order.amount
                td= order.state
                td= format(order.added)

