extends _layout

block content
    script(src='/module.min.js')
    script(src='/uploader.min.js')
    script(src='/hotkeys.min.js')
    script(src='/simditor.min.js')
    script(src='/beautify-html.js')
    script(src='/simditor-html.js')
    link(rel='stylesheet',href='/simditor.css')
    link(rel='stylesheet',href='/simditor-html.css')

    h2 修改项目团队信息
    p
        a(href='info') 基础信息
        a(href='product') 产品信息
        a(href='team') 团队信息
        a(href='activity') 活动信息
    each person, index in project.team
        form(id='p_#{person._id}',action='/project/#{project._id}/team/#{person._id}',method='POST')
            p
                label(for='name_#{person._id}') 姓名：
                input(id='name_#{person._id}',name='name',value='#{person.name}')
                label(for='position_#{person._id}') 职位：
                input(id='position_#{person._id}',name='position',value='#{person.position}')
            p
                label(for='photo_#{person._id}') 照片：
                input(id='photo_#{person._id}',size=50,name='photo',value='#{person.photo}')
            p
                label(for='remark_#{person._id}') 介绍：
                textarea(id='remark_#{person._id}',cols=50,rows=5,name='remark')
                    | #{person.remark}
            p
                input(type='hidden',value='#{person._id}')
                input(type='submit',value='SAVE')
                a(href='/project/#{project._id}/team/#{person._id}/delete') DELETE
            hr

    form(id='p_new',action='/project/#{project._id}/team',method='POST')
        p
            label(for='name_new') 姓名：
            input(id='name_new',name='name')
            label(for='position_new') 职位：
            input(id='position_new',name='position')
        p
            label(for='photo_new') 照片：
            input(id='photo_new',size=50,name='photo')
        p
            label(for='remark_new') 介绍：
            textarea(id='remark_new',cols=50,rows=5,name='remark')
        p
            input(type='submit',value='ADD NEW')

    script.
        $("textarea").each(function(){
            var editor = new Simditor({
                textarea: $(this),
                toolbar: [
                    'title', 'bold', 'italic', 'underline',
                    'strikethrough', 'color', 'ol', 'ul',
                    'blockquote', 'code', 'table', 'link',
                    'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
                ],
                upload: {
                    url: '#{uploadAPI}',
                    fileKey: 'uploadFile'
                },
                allowedTags: [
                    'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                    'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
                ],
                allowedAttributes: {
                    img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                    a: ['href', 'target'],
                    font: ['color'],
                    code: ['class'],
                    embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                    iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
                }
            });
        });
