extends _layout

block content
    script(src='/module.min.js')
    script(src='/uploader.min.js')
    script(src='/hotkeys.min.js')
    script(src='/simditor.min.js')
    script(src='/beautify-html.js')
    script(src='/simditor-html.js')
    link(rel='stylesheet',href='/simditor.css')
    link(rel='stylesheet',href='/simditor-html.css')

    h2 修改文本
    form(method='POST',id='form')
        p
            label(for='title') 标题：
            input#title(name='title',value='#{text.title}')
        p
            label(for='alias') 别名：
            input#alias(name='alias',value='#{text.alias}')
        p
            label(for='content') 内容：
        p
            textarea#content(name='content',cols=50,rows=10)= text.content 
        input(type='button',value='SUBMIT',onclick = 'validate()')
        a(href='/text') CANCEL

    script.
            var editor = new Simditor({
                textarea: $('#content'),
                toolbar: [
                    'title', 'bold', 'italic', 'underline',
                    'strikethrough', 'color', 'ol', 'ul',
                    'blockquote', 'code', 'table', 'link',
                    'image', 'hr', 'indent', 'outdent', 'alignment', 'html'
                ],
                upload: {
                    url: '#{uploadAPI}?token=#{token}',
                    fileKey: 'uploadFile'
                },
                allowedTags: [
                    'br', 'a', 'img', 'b', 'strong', 'i', 'u', 'font', 'hr', 'embed', 'iframe',
                    'p', 'ul', 'ol', 'li', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'hr'
                ],
                allowedAttributes: {
                    img: ['src', 'alt', 'width', 'height', 'data-non-image'],
                    a: ['href', 'target'],
                    font: ['color'],
                    code: ['class'],
                    embed: ['src', 'quality','width', 'height', 'align', 'allowScriptAccess', 'allowFullScreen', 'mode', 'type'],
                    iframe: ['width', 'height', 'src', 'frameborder', 'allowfullscreen']
                }
            });
            function validate(){
                var alias = $('#alias').val();
                var title = $('#title').val();
                if (alias.trim().length<=0){
                    alert('别名不能为空');
                } else if(title.trim()<=0){
                    alert('标题不能为空');
                } else {
                    $('#form').submit();
                }

            }
