extends _layout

block content
    h2 用户
    a(href='/user/export',target='_blank') 导出投资人
    form
        | 过滤：
        a(href='?') 全部
        a(href='?t=i') 投资人
        a(href='?t=n') 非投资人
        a(href='?t=a') 申请
        input#q(name='q',size=10,value='#{q || ""}',placeholder='关键字')
        input(type='submit',value='Search')
    p
        table(width='100%')
            tr
                th No.
                th ID
                th 用户名
                th Email
                th 真实姓名
                th 手机号
                th 公司
                th 职位
                th 投资人
                th 切换
            each user, index in users
                tr
                    td.num= index + 1 + (p - 1) * c
                    td
                        strong= user._id
                    td= user.username + (user.isVIP ? '*' : '')
                    td= user.email
                    td= user.realname
                    td= user.mobile
                    td= user.company
                    td= user.position
                    td(id='state_#{user._id}')
                        if user.isInvestor
                            strong 投
                        else
                            if user.applyInvestor
                                em(style='color:red') 申
                            else
                                em 非
                    td
                        a(id='act_#{user._id}',class='actLink',href='/user/#{user._id}/#{user.isInvestor ? "no" : "yes"}') 切换
        a(href='?p=#{parseInt(p) - 1}' + (q ? '&q=#{q}' : '') + (t ? '&t=#{t}' : '')) PREV
        a(href='?p=#{parseInt(p) + 1}' + (q ? '&q=#{q}' : '') + (t ? '&t=#{t}' : '')) NEXT
        label COUNT: #{count}
    script.
        $('.actLink')
            .on('click', function(evt) {
                evt.preventDefault();
                $.getJSON(this.href, function(data) {
                    var id = data._id,
                        isInvestor = data.isInvestor;
                    $('#state_' + id).html(isInvestor ? '<strong>投</strong>' : '<em>非</em>');
                    $('#act_' + id).attr('href', '/user/' + id + '/' + (isInvestor ? 'no' : 'yes'));
                });
            });
