extends _layout

block content
    h2 用户
    p
        table(width='100%')
            tr
                th No.
                th ID
                th 用户名
                th Email
                th 真实姓名
                th 手机号
                th 投资人
                th 切换
            each user, index in users.length ? users : ['nothing...']
                tr(title='#{user.company} #{user.position}')
                    td.num= index + 1
                    td
                        strong= user._id
                    td= user.username
                    td= user.email
                    td= user.realname
                    td= user.mobile
                    td
                        if user.isInvestor
                            strong 投
                        else
                            em 非
                    td
                        a(href='/user/#{user._id}/#{user.isInvestor ? "no" : "yes"}') 切换
