extends _layout

block content
    h2 用户
    a(href='/user/export?type=investor',target='_blank') 导出投资人
    a(href='/user/export?type=notInvestor' target='_blank') 导出非投资人
    a(href='/user/export?type=all',target='_blank') 导出全部用户
    form
        | 过滤：
        a(href='?') 全部
        a(href='?t=i') 投资人
        a(href='?t=n') 非投资人
        a(href='?t=a') 申请投资人
        | | 实名
        a(href='?t=r1') 申请
        a(href='?t=r2') 通过
        a(href='?t=r3') 未通过
        input#q(name='q',size=10,value='#{q || ""}',placeholder='关键字')
        input(type='submit',value='Search')
    p
        table.table.table-bordered.table-hover
            tr
                th No.
                th ID
                th 用户名
                th Email
                th 真实姓名
                th 手机号
                th 公司
                th 职位
                th 投资人
                th 切换投资人
                th 实名认证状态
            each user, index in users
                tr
                    td= index + 1 + (p - 1) * c
                    td
                        strong= user._id
                    td= user.username + (user.isVIP ? '*' : '')
                    td= user.email
                    td= user.realname
                    td= user.mobile
                    td= user.company
                    td= user.position
                    td(id='state_#{user._id}')
                        if user.isInvestor
                            strong 投
                        else
                            if user.applyInvestor
                                em(style='color:red') 申
                            else
                                em 非
                    td
                        a(id='act_#{user._id}',class='actLink',href='/user/#{user._id}/#{user.isInvestor ? "no" : "yes"}') 切换
                    td
                        if user.certified === 0
                            span 未申请
                        else if user.certified === 1
                            em(style='color:red') 申请 
                            a(href='#' data-toggle="modal" data-target="#dialogModel" data-model=user) 查看和修改
                        else if user.certified === 2
                            em(style='color:red') 审核通过
                            a(href='#' data-toggle="modal" data-target="#dialogModel" data-model=user) 查看和修改
                        else if user.certified === 3
                            em(style='color:red') 审核未通过
                            a(href='#' data-toggle="modal" data-target="#dialogModel" data-model=user) 查看和修改
        a(href='?p=#{parseInt(p) - 1}' + (q ? '&q=#{q}' : '') + (t ? '&t=#{t}' : '')) PREV
        a(href='?p=#{parseInt(p) + 1}' + (q ? '&q=#{q}' : '') + (t ? '&t=#{t}' : '')) NEXT
        label COUNT: #{count}
    div(class="modal fade " id="dialogModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4(class="modal-title") 身份验证信息
                    .modal-body
                        form
                            input(type="hidden" id="userId")
                            h3 身份证号
                            h4(id="certNo")
                            h3 真实姓名
                            h4(id="realname")
                            h3 身份证照片
                            img(id="image1" src="" width="100%",heigth="100%")
                            img(id="image2" src="" width="100%",heigth="100%")
                            h3 状态
                            select(id="certified")
                                option(value="1") 正在审核
                                option(value="2") 通过审核并切换投资人
                                option(value="3") 不通过审核
                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") close
                    button(type="button" id="certSubmit" class="btn btn-primary") submit

    script.
        $('.actLink')
            .on('click', function(evt) {
                evt.preventDefault();
                $.getJSON(this.href, function(data) {
                    var id = data._id,
                        isInvestor = data.isInvestor;
                    $('#state_' + id).html(isInvestor ? '<strong>投</strong>' : '<em>非</em>');
                    $('#act_' + id).attr('href', '/user/' + id + '/' + (isInvestor ? 'no' : 'yes'));
                });
            });
        $('#dialogModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var user = button.data('model'); 
            //不写ajax了
            var modal = $(this);
            modal.find('#realname').text(user.realname);
            modal.find('#certNo').text(user.certNo);
            modal.find('#image1').attr("src",user.certImages[0]);
            modal.find('#image2').attr("src",user.certImages[1]);
            modal.find('#userId').val(user._id);
            $("#certified").val(user.certified);
        });

        $('#certSubmit').on('click',function(evt){
            var body = {};
            body.certified = $('#certified').val();
            body._id = $('#userId').val();
            $.post("/user/certified",body,function(data){
                location=location;
            });
        });
